// Dialog

.dialog {
  background: rgba($black, 0.8);
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 2em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.dialog__window {
  @extend .wrapper;

  background: $white;
  border: 1px solid $dark-grey;
  border-radius: $radius;
  padding: 1em;
}

.dialog__title {
  border-bottom: 1px solid $accent;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
