// Fork on GitHub ribbon

#forkongithub {
    display: block;
    height: 14.25em;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 19.5em;
    z-index: 9999;

    a {
        background: $accent;
        box-shadow: 0 0.25em 0.5em rgba($black, 0.1);
        color: $white;
        font-family: Arial;
        line-height: 2rem;
        padding: 0.35em 2.85em;
        position: absolute;
        right: -5em;
        text-align: center;
        text-decoration: none;
        top: 2.85em;
        transform: rotate(45deg);
        transition: background 0.2s;
        width: 19.5em;

        &::before,
        &::after {
            background: $white;
            content: '';
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        &::before {
            top: 1px;
        }

        &::after {
            bottom: 1px;
        }

        &:hover {
            background: darken($accent, 5%);
        }
    }
}
