// Header

@media print {
  .header,
  button {
    display: none !important;
  }
}

  .header__info {
    border-bottom: 1px solid #777;
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .header__actions button {
    margin-right: 1em;
  }

.share__url {
  margin: 1em 0;
}
