// CRC Cards

.card-wrapper {
  margin-bottom: 2em;
}

.card {
  border: 1px solid #000;
  width: 100%;
}

.card__header {
  border-bottom: 1px solid #000;
  display: block;
  height: 5em;
  padding: 0.5em;
  position: relative;
  width: 100%;
}

  .card__header__type {
    display: inline-block;
    height: 1.5em;
  }

  .card__header__class {
    font-size: 1.25em;
    font-weight: 600;
    line-height: 0.5rem;
    text-align: center;
  }

  .card__header__superclass,
  .card__header__subclass {
    position: absolute;
    right: 0.5em;
  }

.card__contents {
  display: table;
  width: 100%;
}

  .card__contents__responsibilities,
  .card__contents__collaborators {
    display: table-cell;
    padding: 1em 1em 1em 1.5em;
  }

  .card__contents__responsibilities {
    width: 70%;
  }

  .card__contents__collaborators {
    border-left: 1px solid #000;
  }
