* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $light-grey;
  font: 14px/1.75 'Open Sans', 'Arial', sans-serif;

  @media print {
    background-color: none;
  }
}

body {
  padding: 2em;
  width: 100%;

  @media print {
    padding: 0;
  }
}

a {
  color: $accent;
  cursor: pointer;
  text-decoration: underline;
}

label {
  display: block;
  font-weight: 600;
  margin-top: 1em;
}

input,
textarea {
  font: inherit;
  padding: 0.25em 0.5em;
  width: 100%;
}

input[type='radio'] {
  display: inline-block;
  margin-right: 0.5em;
  width: auto;
}

button {
  background: $light-grey;
  border: 1px solid $dark-grey;
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  transition: all 0.2s;

  &:hover {
    background: $accent;
    border-color: $white;
    box-shadow: 0 0.25em 0.5em rgba($black, 0.1);
    color: $white;
  }

  &:focus {
    background: darken($accent, 5%);
    color: $white;
    outline: none;
    transform: translateY(1px);
  }

  @media print {
    display: none !important;
  }
}

  .btn-small {
    font-size: 0.85em;
    margin-right: 0.75em;
    padding: 0.3em 0.75em;
  }

.wrapper {
  max-width: 844px; // 8.5in + 0.2em;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}
