* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.75 'Open Sans', Arial, sans-serif;
  padding: 2em;
  width: 100%;
}

a {
  color: #2490ff;
  cursor: pointer;
  text-decoration: underline;
}

label {
  display: block;
  font-weight: 600;
  margin-top: 1em;
}

input,
textarea {
  font: inherit;
  padding: 0.25em 0.5em;
  width: 100%;
}

input[type='radio'] {
  display: inline-block;
  margin-right: 0.5em;
  width: auto;
}

button {
  background: #eee;
  border: 1px solid #777;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0.5em 1em 0.5em 0;
  padding: 0.5em 1em;
  transition: background 0.2s;

  &:hover {
    background: #e5e5e5;
  }

  &:focus {
    background: #ddd;
  }
}
