@import 'core';
@import 'card';
@import 'fork';


// Content

.wrapper {
  max-width: 8.5in;
  margin: 0 auto;
}


// Header

@media print {
  .header,
  button {
    display: none !important;
  }
}

  .header__title {
  }

  .header__info {
    border-bottom: 1px solid #777;
    font-size: 0.85em;
    font-style: italic;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }


// New card form

.new-card {
  border: 1px solid #777;
  border-radius: 4px;
  margin: 2em 0;
  padding: 1em;
}

  .new-card__type {
    font-weight: 400;
  }
