@import 'core';
@import 'card';


.title {
  border-bottom: 1px solid #777;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

/* For printing */
@media print {
  #title,
  #actions {
    display: none !important;
  }
}


/* Actions bar */

#actions {
  margin-bottom: 2em;
}

#actions button {
  display: inline-block;
}


/* Content */

#content {
  max-width: 8.5in;
  margin: 0 auto;
}


/* New card form */

#new-card {
  border: 1px solid #777;
  border-radius: 4px;
  margin: 2em 0;
  padding: 1em;
}

.new-type {
  font-weight: 400;
}


